.MuiPaper-root.MuiCard-root {
    padding: 25px;
    border-radius: 10px;
    font-family: "IBMPlexSans-Bold";
    color: white;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px;
}

.active {
    background: linear-gradient(to right bottom, #007fff, #0059b2 120%);
}

.loss {
    background: linear-gradient(to right bottom, #FF4500, #8B0000 120%);
}

.gain {
    background: linear-gradient(to right bottom, #38c731, #008000 120%);
}

.MuiSvgIcon-root {
    font-size: 1rem !important;
}

.MuiLinearProgress-bar {
    background-color: white !important;
    border-radius: 100px;
}

.MuiLinearProgress-root {
    background-color: rgba(255, 255, 255, 0.12) !important;
    border-radius: 100px;
}
