.Contract {
    font-family: "Roboto";
    padding-left: 20px;
    padding-right: 20px;
}

.Contract .item-top {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Contract .item {
    margin-bottom: 20px;
}

.MuiInputBase-root.MuiOutlinedInput-root {
    border-radius: 10px;
}

.Contract .item .left-date .MuiInputBase-root.MuiOutlinedInput-root{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.Contract .item .right-date .MuiInputBase-root.MuiOutlinedInput-root{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
}

.Contract .item .right-date .MuiOutlinedInput-notchedOutline{
    border-left-width: 0px;
}



.MuiFormControl-root {
    width: 100%;
}