.Contract {
    font-family: "Roboto";
    padding-left: 20px;
    padding-right: 20px;
}

.Contract .item {
    margin-bottom: 20px;
}

.MuiInputBase-root.MuiOutlinedInput-root {
    border-radius: 10px;
}

.MuiFormControl-root {
    width: 100%;
}