.ContractDialog {
    margin-top: 20px;
}

.ContractDialog .MuiButtonBase-root {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    font-family: "IBMPlexSans-Bold";
    text-transform: none;
}

.MuiPaper-root.MuiDialog-paper {
    border-radius: 10px;
    width: 100%;
}