.ContractCardContainer3D {
    perspective: 2500px;
    position: sticky;
    bottom: 20px;
}

.ContractCardContainer2D {
    position: sticky;
    bottom: 20px; 
    /* bottom gets overwritten by Home.tsx */
}


